@{
    ViewBag.Title = "Home Page";
}


    <div class="row space-row">
        <div class="col-lg-12 col-md-12" id="jumbotron">

                
            <p class="lead">.</p>

            <p><a href="https://www.expedia.com/" class="btn btn-primary btn-lg">BOOK NOW &raquo;</a></p>

        </div>
    </div>

@*<div class="row">*@
    <div class="row">
        <h2>New York</h2>
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/MtCMtC50gwY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            
        </p>
       
    </div>
    <div class="row">
        <h2>London</h2>
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/qaBZPI7If14" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
       
    </div>
    <div class="row">
        <h2>Paris</h2>
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/LxqXYyixGIU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
    
    </div>
@*</div>*@